html,
body{
    margin:0;
}
.container{
    display:grid;
    grid-template: 1fr 5fr/1fr 5fr;
}
/* sidebar content */

.sidebar{
    
    grid-row:1/span1;
    display:grid;
    grid-template-rows:0.25fr 1fr 1fr 1fr ;
    gap:50px;
    height:100vh;
    padding-left:20px;
    padding-right:20px;
    
    min-width:135px;
    background-color: rgb(65, 193, 225);
}
.sidebar a{
    text-decoration: none;
    color:black;


}
.dashboard{
    font-size:30px;
    font-weight:bold;
    text-align:center;
}
.options{
    padding-left:5px;
}

.advOptions{
    padding-left:5px;
}

/* header content */
.header{
    border-bottom: 1px solid black;
    
}

.content{
    
}