html,
body{
    margin:0;
}
.container{
    display:grid;
    grid-template: 1fr 6fr/1fr 5fr;
}
/* sidebar content */

.sidebar{
    
    grid-row:1/span1;
    display:grid;
    grid-template-rows:0.25fr 1fr 1fr 1fr ;
    gap:50px;
    height:max(100vh,100%);
    padding-left:20px;
    padding-right:20px;
    
    min-width:135px;
    background-color: rgb(65, 193, 225);
}
.sidebar a{
    text-decoration: none;
    color:black;


}
.dashboard{
    font-size:30px;
    font-weight:bold;
    text-align:center;
}
.options{
    padding-left:5px;
}

.advOptions{
    padding-left:5px;
}

/* header content */
.header{
    
    display:grid;
    grid-template-rows: 1.3fr 2fr;
    border-bottom: 1px solid black;
    max-height: 200px;;
    
}
/* top half */
.header-top-half{
    
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 10px;
    padding-right:10px;
    
}
.left-side-search{
    display:flex;
    align-items:flex-end;
    gap:10px;
    padding-left:2px;
}
.left-side-search input{
    width:90%;
    height:2em;
    border:1.9px solid  rgb(202, 202, 202);
    border-radius: 7px;
    background-color: rgb(202, 202, 202);
}
.right-side{
    display:grid;
    grid-template-columns: 0.2fr 0.3fr 1fr;
    gap:2px;
    align-items:flex-end;
    padding-right:20px;
}
.bell{
    color:black;
}

.icon img{
    display:flex;
    height:3em;
    width:3em;
    border-radius:50%;
}

/* bottom half of header */

.header-bot-half{
    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    align-items: center;
    padding-left:5px;
}

.bigger-icon img{
    height:4.5em;
    width:4.5em;
    border-radius: 50%;
    padding-left:10px;
    
}
.bigger-icon{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    align-items: center;
    align-content: center;
    align-self: center;


}
.hello{
    text-align: center;
    
    
}

button{
    background-color: rgb(65, 193, 225);
    min-width:4em;
    max-width:7em;
    height:3em;
    border-radius:7px;
    cursor:pointer;
    
    
    
}
.buttons{

    display:grid;
    grid-template-columns: repeat(3,6.7em);
    margin:auto;
    gap:3px;
    
    
    
}

/* Content section */

.content{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding-left:25px;
    padding-top:20px;
}

/* Left side of content */
.yProjects{
    margin-left:20px;
    font-size:20px;
}


.article p {
    font-size: 18px;
    font-family: sans-serif;
    
    text-align: left;
  }
  .article .card {
  border:2px solid black;
  color: black;
  text-align: center;
  border-left:12px solid rgb(65, 193, 225);
  border-radius: 15px;;
}
.article {
    
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
  }
  .icon-block{
    display:flex;
    justify-content: flex-end;
    margin-right:15px;
    gap:5px;
  }

/* Right side of Content */
.yAnnouncements{
    font-size:20px;
    
}

.announcements .article .card {
    width:250px;
    height:330px;
    
}

.announcements{
   
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}

